<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068442202514-89gtvqds07r9vfs8lu7onkuo1l269d2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068442202514-89gtvqds07r9vfs8lu7onkuo1l269d2a</string>
	<key>API_KEY</key>
	<string>AIzaSyAofNICyBPnntj4lnA8D7mfzs2B8na_caU</string>
	<key>GCM_SENDER_ID</key>
	<string>1068442202514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CFBundleIdentifier</string>
	<key>PROJECT_ID</key>
	<string>chatapp-1d573</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-1d573.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068442202514:ios:e1148b2451d89ad6a0d14b</string>
</dict>
</plist>